<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Панель администратора</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<header>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <div class="container-fluid me-auto">
                <span class="navbar-brand">
                    <strong th:text="${currentUser.getEmail()}"></strong>
                     with roles:
                    <span th:each="role : ${currentUser.getRoles()}">
                        <a th:text="${role.getName().replace('ROLE_', '')}"></a>
                        </span>
                </span>
            <form th:action="@{/logout}" method="POST">
                <button type="submit" class="btn btn-dark">Logout</button>
            </form>
        </div>
    </nav>
</header>
<body>

<style>
    .container {
        max-width: 100%;
    }
</style>

<div class="d-flex align-items-start">
    <div class="col-2">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin"
                    type="button" role="tab" aria-controls="v-pills-admin" aria-selected="true">Admin
            </button>
            <button class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" data-bs-target="#v-pills-user"
                    type="button" role="tab" aria-controls="v-pills-user" aria-selected="false">User
            </button>

        </div>
    </div>

    <div class="container-fluid">
        <div class="p-3 border bg-light">
            <div class="col-12">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                         aria-labelledby="v-pills-admin-tab">
                        <p class="fw-bold fs-4">Admin panel</p>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-user-table-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-user-table" type="button" role="tab"
                                        aria-controls="nav-user-table" aria-selected="true">User Table
                                </button>
                                <button class="nav-link" id="nav-new-user-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-new-user" type="button" role="tab"
                                        aria-controls="nav-new-user" aria-selected="false">New User
                                </button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-user-table" role="tabpanel"
                                 aria-labelledby="nav-user-table-tab">
                                <div class="container px-0">
                                    <div class="row gx-3">
                                        <div class="col">
                                            <div class="p-3 border bg-light"><b>All users</b></div>
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Job</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user:${users}">
                                        <td th:text="${user.getId()}"></td>
                                        <td th:text="${user.getName()}"></td>
                                        <td th:text="${user.getAge()}"></td>
                                        <td th:text="${user.getJob()}"></td>
                                        <td th:text="${user.getEmail()}"></td>
                                        <td>
                                            <span th:each="roles:${user.getRoles()}"
                                                  th:text="${roles.getName().replace('ROLE_','')}+'  '">
                                            </span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                    th:data-bs-target="'#edit' + ${user.getId()}">Edit
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                    th:data-bs-target="'#delete' + ${user.getId()}">Delete
                                            </button>
                                        </td>

                                        <div class="modal fade" th:id="${'delete' + user.getId()}" tabindex="-1"
                                             aria-labelledby="delete" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" th:id="${'delete' + user.getId()}">
                                                            Delete User</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="d-flex justify-content-center align-items-center container">
                                                            <div class="row">
                                                                <form th:method="DELETE"
                                                                      th:action="@{/admin/delete/{id}(id=${user.getId()})}"
                                                                      th:object="${user}">
                                                                    <div class="mb-3">
                                                                        <label for="delete-id"><b>ID</b></label>
                                                                        <input class="form-control" readonly type="text"
                                                                               id="delete-id"
                                                                               name="id" disabled
                                                                               th:value="*{id}">
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="delete-name"><b>Name</b></label>
                                                                        <input class="form-control" readonly type="text"
                                                                               id="delete-name"
                                                                               name="name" disabled
                                                                               th:value="*{name}">
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="delete-age"><b>Age</b></label>
                                                                        <input class="form-control" readonly
                                                                               type="number"
                                                                               id="delete-age"
                                                                               name="age" disabled
                                                                               th:value="*{age}">
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="delete-job"><b>Job</b></label>
                                                                        <input class="form-control" readonly
                                                                               type="text"
                                                                               id="delete-job"
                                                                               th:value="*{job}"
                                                                               name="job" disabled>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="delete-email"><b>Email</b></label>
                                                                        <input class="form-control" readonly
                                                                               type="email"
                                                                               id="delete-email"
                                                                               th:value="*{email}"
                                                                               name="email" disabled>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="delete-password"><b>Password</b></label>
                                                                        <input class="form-control" readonly
                                                                               type="password"
                                                                               id="delete-password"
                                                                               th:value="*{password}"
                                                                               name="password" disabled>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label><b>Role</b></label>
                                                                        <select class="form-select" size="2" multiple
                                                                                name="listRoles" required="required">
                                                                            <option th:each="role, iterStat : ${roleList}"
                                                                                    th:value="${role.id}"
                                                                                    th:text="${role.name.replace('ROLE_','')}"
                                                                                    th:selected="${iterStat.index == 0}"></option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="modal-footer text-end">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-bs-dismiss="modal">Close
                                                                        </button>
                                                                        <input type="submit" class="btn btn-danger"
                                                                               value="Delete"/>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal fade" th:id="${'edit' + user.getId()}" tabindex="-1"
                                             aria-labelledby="edit" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" th:id="${'edit' + user.getId()}">Edit
                                                            User</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <div class="d-flex justify-content-center align-items-center container">
                                                            <div class="row">
                                                                <form th:method="PATCH"
                                                                      th:action="@{/admin/edit/{id}(id=${user.getId()})}"
                                                                      th:object="${user}">
                                                                    <div class="mb-3">
                                                                        <label for="edit-id"><b>ID</b></label>
                                                                        <input class="form-control" type="text"
                                                                               id="edit-id"
                                                                               th:value="*{id}"
                                                                               th:name="id" disabled>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="edit-name"><b>Name</b></label>
                                                                        <input class="form-control" type="text"
                                                                               id="edit-name"
                                                                               maxlength="15" minlength="2"
                                                                               th:value="*{name}"
                                                                               th:name="name" required>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="edit-age"><b>Age</b></label>
                                                                        <input class="form-control" type="number"
                                                                               id="edit-age"
                                                                               maxlength="30" minlength="2"
                                                                               th:value="*{age}"
                                                                               th:name="age" required>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="edit-job"><b>Job</b></label>
                                                                        <input class="form-control" type="text"
                                                                               id="edit-job"
                                                                               min="1" max="100"
                                                                               th:value="*{job}"
                                                                               th:name="job" required>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="edit-email"><b>Email</b></label>
                                                                        <input class="form-control" type="email"
                                                                               id="edit-email"
                                                                               th:value="*{email}"
                                                                               th:name="email" required
                                                                               oninput="validateEmail(this)"/>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="edit-password"><b>Password</b></label>
                                                                        <input class="form-control" type="password"
                                                                               id="edit-password"
                                                                               th:value="*{password}"
                                                                               th:name="password" required>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label><b>Role</b></label>
                                                                        <select class="form-select" size="2" multiple
                                                                                name="listRoles" required="required">
                                                                            <option th:each="role, iterStat : ${roleList}"
                                                                                    th:value="${role.id}"
                                                                                    th:text="${role.name.replace('ROLE_','')}"
                                                                                    th:selected="${iterStat.index == 0}"></option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="modal-footer text-end">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-bs-dismiss="modal">Close
                                                                        </button>
                                                                        <input type="submit" class="btn btn-primary"
                                                                               value="Edit"/>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="tab-pane fade" id="nav-new-user" role="tabpanel"
                                 aria-labelledby="nav-new-user-tab">
                                <div class="container px-0">
                                    <div class="row gx-3">
                                        <div class="col">
                                            <div class="p-3 border bg-light"><b>Add New User</b></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="p-3 border bg-white">
                                    <div class="d-flex justify-content-center align-items-center container">
                                        <div class="w-25">
                                            <div class="row">
                                                <div class="my-4">
                                                    <form th:method="POST" th:action="@{/admin/new}"
                                                          th:object="${newUser}">
                                                        <div class="mb-3">
                                                            <label for="name" class="sr-only"><b>Name</b></label>
                                                            <input type="text" th:field="*{name}" id="name"
                                                                   maxlength="15"
                                                                   minlength="2"
                                                                   class="form-control" placeholder="Name" required/>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="age" class="sr-only"><b>Age</b></label>
                                                            <input type="number" th:field="*{age}" id="age"
                                                                   maxlength="30"
                                                                   minlength="2"
                                                                   class="form-control" placeholder="Age" required/>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="job" class="sr-only"><b>Job</b></label>
                                                            <input type="text" th:field="*{job}" id="job"
                                                                   class="form-control" placeholder="Job" required/>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="email" class="sr-only"><b>Email</b></label>
                                                            <input type="email" th:field="*{email}" id="email"
                                                                   max="100"
                                                                   min="1"
                                                                   class="form-control" placeholder="Email" required
                                                                   oninput="validateEmail(this)"/>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="password"
                                                                   class="sr-only"><b>Password</b></label>
                                                            <input type="password" th:field="*{password}" id="password"
                                                                   class="form-control" placeholder="Password" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label><b>Roles</b></label>
                                                            <select class="form-select" size="2" multiple
                                                                    name="listRoles" required="required">
                                                                <option th:each="role, iterStat : ${roleList}"
                                                                        th:value="${role.id}"
                                                                        th:text="${role.name.replace('ROLE_','')}"
                                                                        th:selected="${iterStat.index == 0}"></option>
                                                            </select>
                                                        </div>
                                                        <div class="d-grid gap-2">
                                                            <button class="btn btn-success" type="submit">Create New
                                                                User
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                        <div class="row bg-light">
                            <p class="fw-bold fs-4 my-3">User Information</p>
                        </div>
                        <div class="row">
                            <div class="my-4">
                                <div class="p-3 border bg-white">
                                    <div class="container px-0">
                                        <div class="row gx-3">
                                            <div class="col">
                                                <div class="p-3 border bg-light"><b>About user</b></div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Job</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row" th:text="${currentUser.getId()}"></th>
                                            <td th:text="${currentUser.getName()}"></td>
                                            <td th:text="${currentUser.getAge()}"></td>
                                            <td th:text="${currentUser.getJob()}"></td>
                                            <td th:text="${currentUser.getEmail()}"></td>
                                            <td>
                                <span th:each="role : ${currentUser.getRoles()}"
                                      th:switch="${role.getName()}">
                                      <span th:case="'ROLE_USER'">USER</span>
                                      <span th:case="'ROLE_ADMIN'">ADMIN</span>
                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>