<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Личный кабинет пользователя</title>
</head>
<body>
<h1>Личный кабинет пользователя</h1>
<p sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Выйти</a></p>
<div style="display: table; margin: 0 auto; text-align: center;">
    <table style="border: 1px solid gray;">
        <thead>Данные пользователя</thead>
        <tr>
            <td style="border: 1px solid gray;">id</td>
            <td style="border: 1px solid gray;">Имя</td>
            <td style="border: 1px solid gray;">Возраст</td>
            <td style="border: 1px solid gray;">Место работы</td>
        </tr>
        <td th:text="${user.getId()}" style="border: 1px solid gray;"></td>
        <td th:text="${user.getName()}" style="border: 1px solid gray;"></td>
        <td th:text="${user.getAge()}" style="border: 1px solid gray;"></td>
        <td th:text="${user.getJob()}" style="border: 1px solid gray;"></td>
    </table>
</div>
</body>
</html>